.portfolio-banner {
    color: black;
    text-align: left;
    padding: 20px;
    border-bottom: solid 3px black;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
}

.portfolio-logo{
    height: 100px;
    width: 100px;
}

.portfolio-sections {
    flex-wrap: wrap;
    margin: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;

}