.portoflio-section {
    margin:20px;
}

.portfolio-project {
    margin:20px;
}

.project-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 20px;
}

.portfolio-media {
    height: 600px;
    width: 1000px;
}

.project-description{
    margin: 20px 100px;
    border-radius: 5px;
    border: 2px solid #000000;
    padding: 20px;
}

.project-header{
    border-radius: 10px;
    border: 2px solid #000000;
    padding: 7px;
    color: inherit; 
}

.project-header:link { text-decoration: none; }
.project-header:hover { background-color: rgba(82, 82, 82, 0.548);}

