.portoflio-section {
    margin:20px;
}

.portfolio-project {
    margin:20px;
    flex-wrap: wrap;
    width: auto;
    color: #ffffff;
}

.project-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 20px;
    flex-wrap: wrap;
}

.project-suggestions{
    flex-wrap: wrap;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 50px;
}

.portfolio-media {
    height: 30vw;
    width: 50vw;
}

.project-description{
    width: 30vw;
    height: 25vw;
    margin: 20px 50px;
    border-radius: 5px;
    border: 2px solid #ffffff;
    padding: 20px;
}

.project-header{
    border-radius: 10px;
    border: 2px solid #ffffff;
    padding: 7px;
    color: inherit; 
}

.project-list{
    flex-wrap: wrap;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 50px;
}

.project-header:link { text-decoration: none; }
.project-header:hover { background-color: rgba(82, 82, 82, 0.548);}

@media screen and (max-width: 768px) {
    .project-title{
        font-size: 100%;
    }

    .project-list{
        transform: translate(0%, -15%)  scale(0.7);
    }
    

    .portfolio-media {
        height: 50vw;
        width: 80vw;
    }

    .project-description{
        white-space: normal;
        width: 100vw;
        height: auto;
        margin: 10px ;
        border-radius: 5px;
        border: 2px solid #000000;
        padding: 20px;
    }
    
    .project-suggestions {
        
        transform: translate(0%, -10%) scale(0.8);
        flex-wrap: wrap;
        display: flex;
        justify-content: left;
        align-items: center;
        gap: 50px;
    }
    
  }
