.project-thumbnail {
    background-color: rgba(0, 0, 0, 0.85);
    display: inline-table;
    overflow: hidden;
    text-align: center;
    margin: 10px;
    transition-duration: 0.1s;
    transform: scale(0.95);  
}

.thumbnail {
    height: 199px;
    width: 236px;
    object-fit: cover;
}

.project-thumbnail:hover{transform: scale(1.1);}

.project-legend {
    color: white;  
}
.project-legend:link { text-decoration: none; }

.contact-thumbnail {
    display: inline-table;
    overflow: hidden;
    text-align: center;
    margin: 10px;
    transition-duration: 0.1s;
    transform: scale(0.95);  
}

.contact-thumbnail:hover{transform: scale(1);}

.contact-legend {
    color: white;  
    font-weight: 900;
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
}
.contact-legend:link { text-decoration: none; }


.tool-thumbnail {
    position: relative;
    background-color: rgba(0, 0, 0, 0.85);
    display: inline-table;
    overflow: hidden;
    text-align: center;
    margin: 10px;
    transition-duration: 0.1s;
    transform: scale(0.7);  
}

.tool-thumbnail:hover{transform: scale(.9);}

.tool-description{
    font-size: .9em;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-10%, -50%);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.tool-thumbnail:hover > .tool-description{
    opacity: 1;
}

.tool-thumbnail:hover > .thumbnail {
    opacity: 0.1;
}

.tool-legend {
    color: white;  
}




